<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="perfil">
            <h2><span>Perfil</span> {{perfil.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{perfil.nombre}}</span>
                </dd>
                <dt><span>Descripcion</span></dt>
                <dd>
                    <span>{{perfil.descripcion}}</span>
                </dd>
                <dt><span>Permiso</span></dt>
                <dd>
                    <span *ngFor="let permiso of perfil.permisos; let last = last">
                        <a [routerLink]="['/permiso', permiso?.id, 'view' ]">{{permiso.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/perfil', perfil.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
