<div>
    <h2 id="page-heading">
        <span>Permisos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-permiso" [routerLink]="['/permiso/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Permiso
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="permisos?.length === 0">
        <span>No permisos found</span>
    </div>
    <div class="table-responsive" *ngIf="permisos?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nombre Permiso</span></th>
            <th><span>Activo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let permiso of permisos ;trackBy: trackId">
                <td><a [routerLink]="['/permiso', permiso.id, 'view' ]">{{permiso.id}}</a></td>
                <td>{{permiso.nombrePermiso}}</td>
                <td>{{permiso.activo}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/permiso', permiso.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/permiso', permiso.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/permiso', { outlets: { popup: permiso.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
