<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cliente-heading">Create or edit a Cliente</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nombreCliente">Nombre Cliente</label>
                    <input type="text" class="form-control" name="nombreCliente" id="field_nombreCliente"
                           formControlName="nombreCliente"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_identificacion">Identificacion</label>
                    <input type="text" class="form-control" name="identificacion" id="field_identificacion"
                           formControlName="identificacion"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_edad">Edad</label>
                    <input type="number" class="form-control" name="edad" id="field_edad"
                           formControlName="edad"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fechaIngreso">Fecha Ingreso</label>
                    <div class="input-group">
                        <input id="field_fechaIngreso" type="text" class="form-control" name="fechaIngreso" ngbDatepicker  #fechaIngresoDp="ngbDatepicker" formControlName="fechaIngreso"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaIngresoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
