<div>
    <h2 id="page-heading">
        <span>Proveedors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-proveedor" [routerLink]="['/proveedor/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Proveedor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="proveedors?.length === 0">
        <span>No proveedors found</span>
    </div>
    <div class="table-responsive" *ngIf="proveedors?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nombre Proveedor</span></th>
            <th><span>Identificacion</span></th>
            <th><span>Nombre Vendedor</span></th>
            <th><span>Telefono</span></th>
            <th><span>Direccion</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let proveedor of proveedors ;trackBy: trackId">
                <td><a [routerLink]="['/proveedor', proveedor.id, 'view' ]">{{proveedor.id}}</a></td>
                <td>{{proveedor.nombreProveedor}}</td>
                <td>{{proveedor.identificacion}}</td>
                <td>{{proveedor.nombreVendedor}}</td>
                <td>{{proveedor.telefono}}</td>
                <td>{{proveedor.direccion}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/proveedor', proveedor.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/proveedor', proveedor.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/proveedor', { outlets: { popup: proveedor.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
