<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="unidadMedida">
            <h2><span>Unidad Medida</span> {{unidadMedida.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nombre Unidad Medida</span></dt>
                <dd>
                    <span>{{unidadMedida.nombreUnidadMedida}}</span>
                </dd>
                <dt><span>Abreviatura</span></dt>
                <dd>
                    <span>{{unidadMedida.abreviatura}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/unidad-medida', unidadMedida.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
